.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.orders{
    background-color: darkkhaki;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 52px;
    margin-top: 30px;
    margin-left: 30px;
}