.products img{
    height: 286px;
    width: 286px;
    display: flex;
    align-items: center;
}
.products{
    height: 510px;
    width: 300px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    background-color:rgb(237, 237, 248);
    padding: 5px;
    border-radius: 15px;
}
.details-container{
    padding-left: 10px;
}